**Description** : Clean Mock Train Data

# Import Libraries

In [1]:
import pandas as pd

# Explore Data

In [22]:
df = pd.read_csv("D:\\JT\GTU OMS\\Data and Visual Analytics (CSE 6242)\\Project\\data\\raw\\mock_train.csv")
df.head()

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20800 entries, 0 to 20799
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      20800 non-null  int64
 1   title   20242 non-null  object
 2   author  18843 non-null  object
 3   text    20761 non-null  object
 4   label   20800 non-null  int64
dtypes: int64(2), object(3)
memory usage: 812.6+ KB

In [24]:
# Remove rows with missing text values
df = df[df['text'].notna()]
df.shape

(20761, 5)

In [9]:
data = pd.read_csv("D:\\JT\GTU OMS\\Data and Visual Analytics (CSE 6242)\\Project\\src\\modelling\\train_results.csv")
a = data.mean()
b = data.max()

pd.concat([pd.DataFrame(a).transpose(), pd.DataFrame(b).transpose()])

,fit_time,score_time,test_accuracy,test_precision_weighted,test_recall_weighted,test_f1_weighted,test_roc_auc,model
0,16.8024,0.379542,0.941795,0.942481,0.941795,0.941765,0.98681,NaN
0,51.4022,1.2448,0.963877,0.963938,0.963877,0.963872,0.993861,RandomForest

In [10]:
a

fit_time                   16.802359
score_time                  0.379542
test_accuracy               0.941795
test_precision_weighted     0.942481
test_recall_weighted        0.941795
test_f1_weighted            0.941765
test_roc_auc                0.986810
dtype: float64